openapi: 3.0.3

info:
  title: Hermes - the identity verification API
  description: |
    # Introduction
    Hermes is the identity verification API.

    # API standards
    ## Required tag
    ### required
    Attributes tagged as `required` are **MUST** be present in requests and reponses.

    ### not required
    Attributes not marked as `required` can be empty in responses. In that case the attribute is not sent in the response.

    ## Ressources identifiers
    ### Format
    `{prefix}_{lower-case base-32 encoded GUID}`

    ### Ressources identifiers are formatted as follows

    | ressource name         | prefix | example                         |
    |------------------------|--------|---------------------------------|
    | applicants             | apl    | apl_tkoi5db4hryu5cei5vwoabr7we  |
    | attempts               | atp    | atp_tkoi5db4hryu5cei5vwoabr7we  |
    | business-paths         | bupa   | bupa_tkoi5db4hryu5cei5vwoabr7we |
    | identity-verifications | idv    | idv_tkoi5db4hryu5cei5vwoabr7we  |
    | organization           | org    | org_tkoi5db4hryu5cei5vwoabr7we  |

    ## Status codes

    ## Error handling

    # Verification flow
    ## Verification status state diagram
    ![cached image](https://plantuml-server.kkeisuke.dev/svg/VPF1RiCW38RlF0NIRfFQ1yXXwctQRQTTfYcYmKkj4K8DwJPDVVSH0WAsf3SJVxP_yvE3TOBSD2Z673e5_4c2zj7t2n2-OoSSZdhl8JTPlkDp05oYw4aCZ2r7b9Uz0IrHz_nEONzoHpN13-CH5yxa_BDGy4W0cbsBSjIjeR4di7QpHIUCcmZQYitjAlG4tOVT8il16ZxRr9ZWF261t5G0NsR9RqoDVSHn97S3MyIjK4bOeCR1A9Y1WiXoPkt2-EqkbTugBw5JgElybR7N-pU-UoXTQNX749ncfLSHMhdtXeTdmxPiIPN_RF2J8XxtIpDN74jDqaNusWKgIckziIBQrF0GvBrMbVvPChgITOOFjrJMk-RwuXoK7hnA_v_z0W00.svg)

  version: 2.0.0

servers:
  - url: https://api.ubble.ai/v2/

tags:
  - name: identity verifications
    description: An identity verification service.
    externalDocs:
      description: Find out more
      url: https://ubble.ai
  - name: applicants
    description: Applicant management
    externalDocs:
      description: Find out more
      url: https://ubble.ai

paths:
  /identity-verifications/:
    post:
      tags:
        - identity verifications
      summary: Create an identity verification
      description: Create an identity verification.
      operationId: create_identity_verification
      requestBody:
        description: Create an identity verification
        required: true
        content:
          application/json:
            examples:
              ✅ Only required data (creates a new applicant):
                $ref: "#/components/examples/identity_verification_creation_request_body_min"
              ✅ All possible data (creates a new applicant):
                $ref: "#/components/examples/identity_verification_creation_request_body_max"
              ✅ Use an existing applicant:
                $ref: "#/components/examples/identity_verification_creation_request_body_reuse"
              ❌ Invalid request (Applicant id and attributes not allowed):
                $ref: "#/components/examples/identity_verification_creation_request_body_both_id_and_attributes"
            schema:
              $ref: "#/components/schemas/IdentityVerificationCreationRequestBody"
      responses:
        "201":
          description: Identity verification created
          content:
            application/json:
              examples:
                identity_verification_creation_response_body:
                  $ref: "#/components/examples/identity_verification_creation_response_body"
              schema:
                $ref: "#/components/schemas/IdentityVerificationCreationResponseBody"

  /applicants/:
    post:
      tags:
        - applicants
      summary: Create an Applicant
      description: Create an Applicant
      operationId: create_applicant
      requestBody:
        description: Create an Applicant
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicantCreationRequestBody"
            examples:
              All possible data:
                $ref: "#/components/examples/applicant_creation_request_body"

      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicantCreationResponseBody"
              examples:
                Always replies:
                  $ref: "#/components/examples/applicant_creation_response_body"
        "400":
          description: Bad request
          content:
            application/json:
              examples:
                Invalid phone number:
                  value:
                    {
                      "error_type": "request_invalid",
                      "error_codes": ["phone_number__invalid_format"],
                    }

  /applicants/{applicant_id}/:
    get:
      tags:
        - applicants
      summary: Find an Applicant by ID
      description: Returns a single Applicant
      operationId: get_applicant_by_id
      parameters:
        - name: applicant_id
          required: true
          in: path
          description: ID of Applicant to return
          schema:
            $ref: "#/components/schemas/ApplicantId"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicantRetrievalResponseBody"
              examples:
                Always replies:
                  $ref: "#/components/examples/applicant_retrieval_response_body"
        "404":
          description: Applicant not found

components:
  examples:
    identity_verification_creation_request_body_max:
      value:
        business_path: bupa_tkoi5db4hryu5cei5vwoabr7we
        applicant:
          external_applicant_id: ext_osdfdfdb4hryu5cei5vwoabrk5k
          phone_number:
            country_code: "+1"
            number: "2068133616"
          email: david.vincent@courriel.ml
        declared_data:
          first_name: David
          last_name: Vincent
          birth_date: 1934-10-02

    identity_verification_creation_request_body_min:
      value:
        business_path: bupa_tkoi5db4hryu5cei5vwoabr7we
        declared_data:
          first_name: David
          last_name: Vincent

    identity_verification_creation_request_body_reuse:
      value:
        business_path: bupa_tkoi5db4hryu5cei5vwoabr7we
        Applicant:
          id: apl_tkoi5db4hryu5cei5vwoabr7we
        declared_data:
          first_name: David
          last_name: Vincent

    identity_verification_creation_request_body_both_id_and_attributes:
      value:
        business_path: bupa_tkoi5db4hryu5cei5vwoabr7we
        Applicant:
          id: apl_tkoi5db4hryu5cei5vwoabr7we
          email: david.vincent@courriel.crl
        declared_data:
          first_name: David
          last_name: Vincent

    identity_verification_creation_response_body:
      value:
        id: idv_tkoi5db4hryu5cei5vwoabr7we
        _links:
          self:
            href: "https://api.ubble.ai/v2/identity-verifications/idv_tkoi5db4hryu5cei5vwoabr7we"
          applicant:
            href: "https://api.ubble.ai/v2/applicants/apl_tkoi5db4hryu5cei5vwoabr7we"
          active_attempt_link:
            href: "https://id.ubble.ai/4hryu5cei5/"

    applicant_creation_request_body:
      value:
        external_applicant_id: ext_osdfdfdb4hryu5cei5vwoabrk5k
        phone_number:
          country_code: "+1"
          number: "2068133616"
        email: david.vincent@courriel.ml

    applicant_creation_response_body:
      value:
        id: apl_tkoi5db4hryu5cei5vwoabr7we
        _links:
          self:
            href: https://api.ubble.ai/v2/applicants/apl_tkoi5db4hryu5cei5vwoabr7we

    applicant_retrieval_response_body:
      value:
        id: apl_tkoi5db4hryu5cei5vwoabr7we
        created_on: 1673972255
        modified_on: 1679069908
        external_applicant_id: ext_osdfdfdb4hryu5cei5vwoabrk5k
        phone_number:
          country_code: "+1"
          number: "2068133616"
        email: david.vincent@courriel.ml
        _links:
          self:
            href: https://api.ubble.ai/v2/applicants/apl_tkoi5db4hryu5cei5vwoabr7we

    address_example_american:
      value:
        address_line1: 4022 Laguna St
        address_line2: Flat 456
        city: Santa Barbara
        zip: 93101
        country: US

  schemas:
    ApplicantIdentityVerificationCreationRequestBody:
      type: object
      required: [configuration]
      properties:
        configuration:
          type: integer
          description: Configuration id.
          example: 572

    IdentityVerificationCreationRequestBody:
      type: object
      required: [business_path, declared_data]
      properties:
        business_path:
          $ref: "#/components/schemas/BusinessPathId"
        applicant:
          oneOf:
            - $ref: "#/components/schemas/ApplicantCreationRequestBody"
            - $ref: "#/components/schemas/ApplicantRelationCreationBody"
        declared_data:
          $ref: "#/components/schemas/DeclaredData"

    IdentityVerificationCreationResponseBody:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/IdentityVerificationId"
        _links:
          $ref: "#/components/schemas/Links"

    ApplicantCreationRequestBody:
      type: object
      properties:
        external_applicant_id:
          type: string
          example: "ext_osdfdfdb4hryu5cei5vwoabrk5k"
        phone_number:
          $ref: "#/components/schemas/PhoneNumber"
        email:
          type: string
          format: email
          example: david.vincent@courriel.ml

    ApplicantRelationCreationBody:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ApplicantId"

    ApplicantCreationResponseBody:
      type: object
      required: ["id", "_links"]
      properties:
        id:
          $ref: "#/components/schemas/ApplicantId"
        _links:
          $ref: "#/components/schemas/Links"

    ApplicantRetrievalResponseBody:
      type: object
      required: ["id"]
      properties:
        id:
          $ref: "#/components/schemas/ApplicantId"
      allOf:
        - $ref: "#/components/schemas/DatedObject"
        - $ref: "#/components/schemas/ApplicantCreationRequestBody"

    Applicant:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/ApplicantId"
        external_applicant_id:
          type: string
          example: "ext_osdfdfdb4hryu5cei5vwoabrk5k"
        phone_number:
          $ref: "#/components/schemas/PhoneNumber"
        email:
          type: string
          format: email
          example: david.vincent@courriel.ml
        _links:
          $ref: "#/components/schemas/Links"

    Attempt:
      type: object
      properties:
        state:
          $ref: "#/components/schemas/AttemptStates"
        link:
          type: string
          format: uri
          example: https://id.ubble.ai/4hryu5cei5/

    DeclaredData:
      type: object
      required: [first_name, last_name]
      properties:
        first_name:
          type: string
          example: David
        last_name:
          type: string
          example: Vincent
        birth_date:
          type: string
          format: date
          example: 1934-10-02

    IdentityVerificationStatues:
      type: string
      description: Status of the identity verification.
      enum:
        - pending
        - in_progress
        - approved
        - declined
        - new_capture_required

    AttemptStates:
      type: string
      description: States of an attempt.
      enum:
        - pending
        - capture_in_progress
        - checks_in_progress
        - completed
        - expired
        - capture_aborted
        - checks_aborted

    ApplicantId:
      type: string
      description: Applicant unique identifier.
      pattern: ^apl_\w+$
      example: apl_tkoi5db4hryu5cei5vwoabr7we

    IdentityVerificationId:
      type: string
      description: Identity verification unique identifier.
      pattern: ^idv_\w+$
      example: idv_tkoi5db4hryu5cei5vwoabr7we

    BusinessPathId:
      type: string
      description: Business path unique identifier.
      pattern: ^bupa_\w+$
      example: bupa_tkoi5db4hryu5cei5vwoabr7we

    Address:
      type: object
      description: Postal address.
      required: [address_line1, city, zip, country]
      properties:
        address_line1:
          type: string
          minLength: 1
          maxLength: 100
          example: 4022 Laguna St
        address_line2:
          type: string
          minLength: 1
          maxLength: 100
          example: Flat 456
        city:
          type: string
          minLength: 1
          maxLength: 100
          example: Santa Barbara
        zip:
          type: string
          minLength: 2
          maxLength: 20
          example: 93101
        country:
          $ref: "#/components/schemas/CountryCode"

    CountryCode:
      type: string
      format: ISO 3166-1 alpha-2
      example: US

    Genders:
      type: string
      description: Person gender.
      example: M
      enum:
        - M
        - F

    PhoneNumber:
      type: object
      required: ["country_code", "number"]
      properties:
        country_code:
          $ref: "#/components/schemas/PhonePrefix"
        number:
          $ref: "#/components/schemas/DomesticPhoneNumber"

    PhonePrefix:
      type: string
      format: international phone prefix
      pattern: ^((\+)|(00))?(\d+)$
      example: "+33"

    DomesticPhoneNumber:
      type: string
      format: domestic phone number
      pattern: ^\d{1,14}$
      example: "2068133616"

    Links:
      type: object
      properties:
        self:
          type: object
          properties:
            href:
              type: string
              format: uri

    DatedObject:
      type: object
      required: ["created_on", "modified_on"]
      properties:
        created_on:
          description: Epoch time in milliseconds when the message was created
          type: integer
          format: int64
          example: 1673972255
        modified_on:
          description: Epoch time in milliseconds when the message was modified
          type: integer
          format: int64
          example: 1679069908

  requestBodies:
    IdentityVerificationCreationRequestBody:
      description: Identity verification request body.
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/IdentityVerificationCreationRequestBody"

  responses:
    IdentityVerificationOutput:
      description: Identity verification response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/IdentityVerificationCreationResponseBody"
